.video {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    height: auto;
    width: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 768px) {
  .video {
    display: none;
  }
}
.wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;
}
